@import './assets/styles/variables.scss';

body {
  background: $defaultWhite-color;
  margin: 0;
  padding: 0;
  color: $black-color;
  font-family: $texts-font;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
button {
  font-family: $texts-font !important;
  font-size: 17px;
}
